*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: thick solid red;
    max-width: 750px;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 13px;
}


.result {
    display: flex;
    justify-content: center;

    /* border: 3px solid red; */
}

.result > * {
    flex: 1;
    text-align: center;
    line-height: 100px;
}

.human, .computer,
.whoWon {
    border: 3px solid;
    min-height: 100px;
}
